/* nota para mi quitar el style de los comentarios */

body {
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-size: 100%;
  color: #1b262c;
  margin: 0;
  background-image: url("./img/fondo.png");
  background-size: cover;
}

.custom-card-body {
  margin: auto;
  background-color: #32b885;
  max-width: 500px;
  width: 350px;
  min-height: 400px;
  padding: 20px;
  border-radius: 5px;
}

.custom-text-color {
  color: #080808;
}

/* parte del registrarse*/
.registration-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form .form-group {
  margin-bottom: 20px;
}

.registration-form label {
  display: block;
  font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registration-form button[type="submit"]:hover {
  background-color: #0069d9;
}
.error-message {
  font-size: 14px;
  margin-top: 5px;
}

/* comentario  */

.comment-form {
max-width: 500px;
margin: 0 auto;
background-color: #f5f5f5;
padding: 20px;
border: 1px solid #ccc;
border-radius: 4px;
}

.comment-form label {
display: block;
margin-bottom: 10px;
font-weight: bold;
}

.comment-form textarea {
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical; /* Permite redimensionar verticalmente el área de texto */
}

.comment-form button[type="submit"] {
display: block;
margin-top: 10px;
padding: 10px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

.comment-form button[type="submit"]:hover {
background-color: #0069d9;
}

/* comentario  */
.comentario {
background-color: #f5f5f5;
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 10px;
}

.comentario-usuario {
font-size: 16px;
font-weight: bold;
}

.comentario-texto {
font-size: 14px;
margin-top: 5px;
}

footer {
background-color: #f5f5f5;
padding: 10px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}

footer p {
margin: 0;
font-size: 12px;
}


