<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="<%= 'styles.css' %>">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/home/">
                <img src="<%= '/img/logo.png' %>" alt="EcoVia" style="max-width: 70px; max-height: 70px;">
                EcoVia
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <% if (usuarioConectado) { %>
                        <li class="nav-item">
                          <a href="/perfil" class="nav-link"><%= nombreUsuario %></a>
                      </li>
                    <% } %>
                    <li class="nav-item">
                        <a href="/home" class="nav-link">Pagina principal</a>
                    </li>
                    <% if (usuarioConectado) { %>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Cerrar Sesion</a>
                        </li>
                        <li class="nav-item">
                            <a href="/botella/agregar" class="nav-link">Botella</a>
                        </li>
                        <li class="nav-item">
                            <a href="/historial_botella" class="nav-link">Historial</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a href="/registro" class="nav-link">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a href="/iniciar_sesion" class="nav-link">Iniciar Sesion</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

   
