<%- include('partials/_head') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4">Agregar Botella</h1>
          <form method="POST" action="/botella/agregar/">
            <div class="mb-3">
              <label for="nombre_producto" class="form-label">Nombre del Producto:</label>
              <input type="text" id="nombre_producto" name="nombre_producto" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="tipo_material" class="form-label">Tipo de Material:</label>
              <select id="tipo_material" name="tipo_material" class="form-select" required>
                <option value="plastico">Plastico</option>
                <option value="vidrio">Vidrio</option>
              </select>
            </div>


            <div class="mb-3">
              <label for="cantidad" class="form-label">Cantidad:</label>
              <input type="number" id="cantidad" name="cantidad" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="fecha_botella" class="form-label">Fecha de Botella:</label>
              <input type="date" id="fecha_botella" name="fecha_botella" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Agregar Botella</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/_footer') %>