<%- include('partials/_head') %>
<main class="container">
  <h1 class="mt-5">Historial de Botella</h1>
  <% if (botellas.length > 0) { %>
    <table class="table mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Elemento Botella</th>
          <th>Fecha de Registro</th>
        </tr>
      </thead>
      <tbody>
        <% botellas.forEach((botella) => { %>
          <tr>
            <td><%= botella.id %></td>
            <td><%= botella.usuario %></td>
            <td><%= botella.botella %></td>
            <td><%= botella.fecha_registro %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <p class="mt-4">No hay registros de botella.</p>
  <% } %>
</main>
<%- include('partials/_footer') %>

