<%- include('partials/_head') %>
<main class="container">
    <div class="row mt-5">
        <section class="col-md-4 offset-md-4">
            <form action="/iniciar_sesion" method="POST" class="card custom-card-body">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <h1 class="text-center">Iniciar Sesión</h1>
                <div class="mb-3">
                    <label for="username">Nombre de Usuario:</label>
                    <input type="text" name="usuario" class="form-control" placeholder="Nombre de usuario" id="username">
                </div>
                <div class="mb-3">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="contraseña" class="form-control" placeholder="Contraseña" id="password">
                </div>
                <br>
                <button class="btn btn-primary">Iniciar Sesión</button>
                <br>
                <div class="pie-form">
                    <a href="#" class="custom-text-color">¿Perdiste tu contraseña?</a>
                    <br>
                    <a href="/registro" class="custom-text-color">¿No tienes cuenta? Regístrate</a>
                </div>
                <div class="inferior text-center">
                    <a href="/home" class="custom-text-color">Volver</a>
                </div>
            </form>
        </section>
    </div>
</main>
<%- include('partials/_footer') %>