<%- include('partials/_head') %>

<main class="contianer py-5">
  <section class="card card-body">
  
      <% if (usuarioConectado) { %>
        <h1 class="display text-center">Bienvenido <%= nombreUsuario %></h1>
        <h3 class="text-center">Escoje una tarea </h3>
        <div class="text-center">
          <a class="btn btn-primary" href="/botella/agregar">Poner Botella</a>
          <a class= "btn btn-primary"href="/historial_botella/">Ver historial de botellas </a>
      </div>
 
      <% }else { %>
        <h1 class="display text-center">Bienvenido a Ecovia</h1>
        <h3 class="text-center">Escoje una tarea </h3>
        <div class="text-center">
          <a class="btn btn-primary" href="/iniciar_sesion">Iniciar Sesion</a> 
        
          <a class= "btn btn-primary"href="/registro">Registrarse </a>
      </div>
        <% } %>
     
  </section>
</main>
<%- include('partials/_footer') %>