<%- include('partials/_head') %>

<main class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

          <h1 class="text-center">Perfil del Usuario</h1>
          <p><strong>Nombre de usuario:</strong> <%= usuario.nombre_usuario %></p>
          <p><strong>Nombre:</strong> <%= usuario.nombre %></p>
          <p><strong>Apellido:</strong> <%= usuario.apellido %></p>
          <p><strong>Correo electrónico:</strong> <%= usuario.correo %></p>
          <a href="/perfil/editar" class="btn btn-primary">Editar perfil</a>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('partials/_footer') %>