<%- include('partials/_head') %>

<div class="d-flex justify-content-center align-items-center vh-100 gray-bg">
  <form method="POST" class="registro-form registration-form">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <h1 class="text-center">Registro</h1>
    <div class="form-group">
      <label for="nombre">Nombre de usuario:</label>
      <input type="text" id="nombre" name="nombre" required><br>
      <details>
        <summary class="helptext-summary">Mostrar detalles</summary>
        <span class="helptext">Requerido. 150 caracteres como máximo. Únicamente letras, dígitos y @/./+/-/_ </span>
      </details>
    </div>
    <div class="form-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="correo" required><br>
    </div>
    <div class="form-group">
      <label for="contraseña">Contraseña:</label>
      <input type="password" id="contraseña" name="contraseña" required><br>
      <details>
        <summary class="error-summary">Mostrar detalles</summary>
        <ul class="error-list">
          <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
          <li>Su contraseña debe contener al menos 8 caracteres.</li>
          <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
          <li>Su contraseña no puede ser completamente numérica.</li>
        </ul>
      </details>
    </div>
    <div class="form-group">

      <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
    
  </form>
</div>

<%- include('partials/_footer') %>